<!DOCTYPE html>
<html ng-app>
    <head>
        <title>AngularJs Post form</title>
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

		<!-- Optional theme -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

		<!-- Latest compiled and minified JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

        <style>
            .info{
                border: 1px solid;margin: 10px 0px;
                padding:10px;color: #00529B;
                background-color: #BDE5F8;list-style: none;
            }
            .err{
                border: 1px solid;  margin: 10px 0px;
                padding:10px;  color: #D8000C;
                background-color: #FFBABA;   list-style: none;
            }
        </style>
    </head>
    <body>
        <div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="col-md-3"> </div>
					<div class="col-md-6">
						<form ng-controller="FrmController" class="form">
							
							<h2>Sigup Form</h2>
							<div class="form-group">
								<label>Name</label> 
								<input type="text" ng-model="username" name="username" placeholder="User Name" class="form-control" required /> 
								<span class="help-inline" ng-show="SignUp && form.username.$error.required">Required</span>
								
							</div>
							<div class="form-group">
								<label>Email</label>
								<input type="text" ng-model="useremail" placeholder="Email" class="form-control" required /> 
							</div>
							<div class="form-group">
								<label>Password</label>
								<input type="password" ng-model="userpassword" placeholder="Password" class="form-control" required />
							</div>
							<button ng-click='SignUp();' class="btn btn-primary">SignUp</button>
						</form>
					</div>
					<div class="col-md-3"> </div>
				</div>
			</div>
        </div>
        <script type="text/javascript">
            function FrmController($scope, $http) {
                $scope.errors 	= [];
                $scope.msgs 	= [];
                $scope.SignUp = function() {
                    $scope.errors.splice(0, $scope.errors.length); // remove all error messages
                    $scope.msgs.splice(0, $scope.msgs.length);

                    $http.post('post_es.php', {'uname': $scope.username, 'pswd': $scope.userpassword, 'email': $scope.useremail}
                    ).success(function(data, status, headers, config) {
					
                        if (data.msg != '')
                        {
                            $scope.msgs.push(data.msg);
                        }
                        else
                        {
                            $scope.errors.push(data.error);
                        }
                    }).error(function(data, status) { // called asynchronously if an error occurs
						// or server returns response with an error status.
                        $scope.errors.push(status);
                    });
                }
            }
        </script>   
    </body>
</html>