	<div class="modal-header btn-warning">
		<button type="button" class="close" ng-click="cancel()">X</button>
		<h4 class="modal-title">Add User</h4>
	</div>
	<form name="adduserform" id="adduserform" class="form-horizontal" valid-submit="addUser()" novalidate>
		<div class="modal-body">
			<div class="row">
				<div class="col-lg-12">
					<div class="form-group">
						<label class="col-sm-3 control-label">First Name</label>
						<div class="col-sm-9">
							<input type="text" name="first_name" id="first_name" validate-on="first_name"      class ="form-control" ng-model ="form.first_name" ng-pattern="/[a-zA-Z^ ]/" ng-minlength="3" ng-maxlength="15" required />
							<label ng-show="adduserform.$submitted && adduserform.first_name.$error.required"  class ="has-error">Please enter first name.</label>	
							<label ng-show="adduserform.$submitted && adduserform.first_name.$error.pattern"   class ="control-label has-error">Please enter character only.</label>
							<label ng-show="adduserform.$submitted && adduserform.first_name.$error.minlength" class ="control-label has-error">First name minimum 3 character required.</label>
							<label ng-show="adduserform.$submitted && adduserform.first_name.$error.maxlength" class ="control-label has-error">First name maximum 15 character required.</label>
						</div>
					</div>
					
					<div class="form-group">
						<label class="col-sm-3 control-label">Last Name</label>
						<div class="col-sm-9">
							<input type ="text" name="last_name" id="last_name" validate-on="last_name" class="form-control" ng-model ="form.last_name"ng-pattern="/[a-zA-Z^ ]/" ng-minlength="3" ng-maxlength="15" required />
							<label ng-show="adduserform.$submitted && adduserform.last_name.$error.required"  class ="has-error">Please enter last name.</label>	
							<label ng-show="adduserform.$submitted && adduserform.last_name.$error.pattern"   class ="control-label has-error">Please enter character only.</label>
							<label ng-show="adduserform.$submitted && adduserform.last_name.$error.minlength" class ="control-label has-error">last name minimum 3 character required.</label>
							<label ng-show="adduserform.$submitted && adduserform.last_name.$error.maxlength" class ="control-label has-error">last name maximum 15 character required.</label>
						</div>
					</div>
					
					<div class="form-group">
						<label class="col-sm-3 control-label">Email</label>
						<div class="col-sm-9">
							<input type ="email" name ="email" id ="email" validate-on="email" class ="form-control" ng-model ="form.email" required />
							<label ng-show="adduserform.$submitted && adduserform.email.$error.required" class="has-error">Please enter email address.</label>	
							<label ng-show="adduserform.$submitted && adduserform.email.$error.email" class="control-label has-error">Enter valid email address.</label>
						</div>
						<span id="email-already-exit" style="display:none">User Already exists with same email</span>
					</div>
					
					<hr>
					<div class="form-group">
						<label class="col-sm-3 control-label">City</label>
						<div class="col-sm-9">
							<input type ="text" name ="city" id ="city" class ="form-control" ng-model = "form.city" ng-pattern="/[a-zA-Z^ ]/" validate-on="city" required />
							<label ng-show="adduserform.$submitted && adduserform.city.$error.required" class="has-error">Please enter city.</label>	
							<label ng-show="adduserform.$submitted && adduserform.city.$error.pattern" class="control-label has-error">Please enter character only.</label>
						</div>
					</div>
						
					<div class="form-group">
						<label class="col-sm-3 control-label">Country</label>
						<div class="col-sm-9">
							<input type = "text" name ="country" id ="country" class ="form-control" ng-model = "form.country" ng-pattern="/[a-zA-Z^ ]/" validate-on="country" required />
							<label ng-show="adduserform.$submitted && adduserform.country.$error.required" class="has-error">Please enter country.</label>	
							<label ng-show="adduserform.$submitted && adduserform.country.$error.pattern" class="control-label has-error">Please enter character only.</label>
						</div>
					</div>

					<div class="form-group">
						<label class="col-sm-3 control-label">Address</label>
						<div class="col-sm-9">
							<textarea name="address" id="address" class="form-control" validate-on="address" ng-model = "form.address" required></textarea>
							<label ng-show="adduserform.$submitted && adduserform.address.$error.required" class="has-error">Please enter address.</label>	
						</div>
					</div>
						
					<div class="form-group">
						<label class="col-sm-3 control-label">Phone Number</label>
						<div class="col-sm-9">
							<input type = "text" name="phone" id ="phone" class ="form-control" ng-model = "form.phone" ng-pattern="/^(\(?([0-9]{3})\)?)?[-. ]?([0-9]{3})[-. ]?([0-9]{4})$/" validate-on="phone" required /> 
							<label ng-show="adduserform.$submitted && adduserform.phone.$error.required" class="has-error">Please enter phone number.</label>	
							<label ng-show="adduserform.$submitted && adduserform.phone.$error.pattern" class="control-label has-error">Please enter valid phone number.</label>
							<br/><code>e.g (123-345-6859)</code>
						</div>
					</div>
						
					<hr>
					<div class="form-group">
						<label class="col-sm-3 control-label">Password</label>
						<div class="col-sm-9">
							<input  type = "password" name = "password" class = "form-control" ng-model = "form.password" ng-minlength="6" ng-maxlength="20" ng-pattern="/(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z])/" validate-on="dirty" required />
							<label ng-show="adduserform.$submitted && adduserform.password.$error.required" class="has-error">Please enter password.</label>	
							<label ng-show="adduserform.$submitted && adduserform.password.$error.minlength" class="has-error">Password must be at least 6 characters long .</label>	
							<label ng-show="adduserform.$submitted && adduserform.password.$error.maxlength" class="has-error">Password must be 20 characters long .</label>	
							<label ng-show="adduserform.$submitted && adduserform.password.$error.pattern" class="has-error">Password must have at least one capital letter and least one number. </label>	
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label">Confirm Password</label>
						<div class="col-sm-9">
							<input type ="password" name="confirmPassword" id ="confirmPassword" class ="form-control" ng-model = "form.confirmPassword" validate-on="dirty" valid-password-c required /> 
							<label ng-show="adduserform.$submitted && adduserform.confirmPassword.$error.required" class="has-error">Please enter confirm password.</label>											
							<label ng-show="!adduserform.confirmPassword.$error.required && adduserform.confirmPassword.$error.noMatch && adduserform.password.$dirty" class="has-error">Passwords do not match.</label>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div class="modal-footer">
			<button type="submit" class="btn btn-warning">Save</button>
			<button type="reset" ng-click="addFormReset()" class="btn btn-primary">Reset</button>
			<button type="button" class="btn btn-primary" ng-click="cancel()">Close</button>
		</div>
	</form>		