	<div class="modal-header btn-warning">
		<button type="button" class="close" ng-click="cancel()">X</button>
		<h4 class="modal-title">Add Files</h4>
	</div>
	<div class="modal-body">
		<div class="row">
			<div class="col-lg-12">
				<form class="dropzone" method="post" enctype="multipart/form-data" ng-dropzone dropzone="dropzone" dropzone-config="dropzoneConfig">
				</form>
			</div>
		</div>
	</div>
		
	<div class="modal-footer">
		<button type="submit" id="submit-all" class="btn btn-warning">Upload</button>
		<button type="button" class="btn btn-primary" ng-click="cancel()">Close</button>
	</div>
	