	<div class="modal-header btn-warning">
		<button type="button" class="close" ng-click="cancel()">X</button>
		<h4 class="modal-title">Change Password</h4>
	</div>
	<form name="changepwdform" id="changepwdform" class="form-horizontal" valid-submit="ChangePass(changepassword)" novalidate>
		<div class="modal-body">
			<div class="row">
				<div class="col-lg-12">
					
					<div class="form-group">
						<label class="col-sm-4 control-label">Old Password</label>
						<div class="col-sm-8">
							<input  type = "password" name ="old_pass" id="old_pass" class ="form-control" ng-model = "form.old_pass" ng-minlength="6" ng-maxlength="20" ng-pattern="/(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z])/" validate-on="dirty" required />
							<label ng-show="changepwdform.$submitted && changepwdform.old_pass.$error.required" class="has-error">Please enter old password.</label>	
							<label ng-show="changepwdform.$submitted && changepwdform.old_pass.$error.minlength" class="has-error">Old password must be at least 6 characters long .</label>	
							<label ng-show="changepwdform.$submitted && changepwdform.old_pass.$error.maxlength" class="has-error">Old password must be 20 characters long .</label>	
							<label ng-show="changepwdform.$submitted && changepwdform.old_pass.$error.pattern" class="has-error">Old password must have at least one capital letter and least one number. </label>	
						</div>
					</div>
					
					<div class="form-group">
						<label class="col-sm-4 control-label">New Password</label>
						<div class="col-sm-8">
							<input  type = "password" name ="password" id="password" class = "form-control" ng-model = "form.password" ng-minlength="6" ng-maxlength="20" ng-pattern="/(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z])/" validate-on="dirty" required />
							<label ng-show="changepwdform.$submitted && changepwdform.password.$error.required" class="has-error">Please enter new password.</label>	
							<label ng-show="changepwdform.$submitted && changepwdform.password.$error.minlength" class="has-error">New password must be at least 6 characters long .</label>	
							<label ng-show="changepwdform.$submitted && changepwdform.password.$error.maxlength" class="has-error">New password must be 20 characters long .</label>	
							<label ng-show="changepwdform.$submitted && changepwdform.password.$error.pattern" class="has-error">New password must have at least one capital letter and least one number. </label>	
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-4 control-label">Confirm Password</label>
						<div class="col-sm-8">
							<input type ="password" name="C_pass" id ="C_pass" class ="form-control" ng-model = "form.C_pass" validate-on="dirty" valid-password-c required /> 
							<label ng-show="changepwdform.$submitted && changepwdform.C_pass.$error.required" class="has-error">Please enter confirm password.</label>											
							<label ng-show="!changepwdform.C_pass.$error.required && changepwdform.C_pass.$error.noMatch && changepwdform.password.$dirty" class="has-error">Passwords do not match.</label>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div class="modal-footer">
			<button type="submit" class="btn btn-warning">Save</button>
			<button type="reset" ng-click="addFormReset()" class="btn btn-primary">Reset</button>
			<button type="button" class="btn btn-primary" ng-click="cancel()">Close</button>
		</div>
	</form>		