	<div class="modal-header btn-warning">
		<h4 class="modal-title">Change Picture</h4>
	</div>
	<div class="modal-body">
		<div id="loading_img" style="display:none;"><img src="images/loading-ajax.gif" /></div>
		
		<div class="row">
			<div class="col-lg-12">
				<div id="uploadfilemsg" style="display:none">
					<div class="alert alert-success fade in">
						<a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
						<strong><i class="fa fa-check"></i> Success!</strong> <span id="message_text">Profile Picture save Successfully</span>
					</div>
				</div>
				<div id="error_message" style="display:none"></div>
				<div class="cropimageArea input-group-btn">
					<div tabindex="500" class="btn btn-primary btn-file"><i class="fa fa-folder-open-o"></i>&nbsp; <span class="hidden-xs">Browse File</span><input type="file" id="inputfilename" img-cropper-fileread image="cropper.sourceImage" class="btn-file"  /></div>
					
					<div class="canvas-area">
						<canvas width="570" height="300" id="canvas" image-cropper image="cropper.sourceImage" cropped-image="cropper.croppedImage" crop-width="400" crop-height="200" keep-aspect="true" touch-radius="30" crop-area-bounds="bounds"></canvas>
						<div class="canvas-croped-area">
							<div >Cropped Image (Left: {{bounds.left}} Right: {{bounds.right}} Top: {{bounds.top}} Bottom: {{bounds.bottom}})</div>
							<div ng-show="cropper.croppedImage!=null"><img ng-src="{{cropper.croppedImage}}" /></div>
						</div>
					</div>
					
				</div>
				<div class="cropedImg" style="display:none">
					<p class="loading-text text-center">Uploading crop image</p>
				</div>
			</div>
		</div>
	</div>
	
	<div class="modal-footer">
		<button type="submit" class="btn btn-warning" ng-click="SaveProfilePicture(cropper.croppedImage,changepicture)">Crop & upload</button>
		<button type="button" class="btn btn-primary" ng-click="cancel()">Close</button>
	</div>
		