	<div class="modal-header btn-warning">
		<h4 class="modal-title">Delete Record</h4>
	</div>
	<div class="modal-body">
		<div class="row">
			<div class="col-lg-12">
				<div class="text-left delmsg-section">Are you sure delete this user ? </div>
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<button type="submit" class="btn btn-warning" ng-click="deleteuserbyID(deleteuser)">Delete</button>
		<button type="button" class="btn btn-primary" ng-click="cancel()">Close</button>
	</div>
				