	<div class="modal-header btn-warning">
		<button type="button" class="close" ng-click="cancel()">X</button>
		<h4 class="modal-title">Edit User</h4>
	</div>
	<form name="main.editform" id="edit_user" class="form-horizontal" novalidate>
		<div class="modal-body">
			<div class="row">
				<div class="col-lg-12">
					<div class="form-group">
						<label class="col-sm-4 control-label-edit">First Name</label>
						<div class="col-sm-8">
							<input type = "text"
								name = "first_name"
								id = "first_name"
								class = "form-control"
								validate-on="first_name"
								ng-model="edit_first_name"
								ng-pattern="/[a-zA-Z^ ]/"
								
								ng-minlength="3"
								
								ng-maxlength="15"
								
								required />
								<div class="help-block" ng-messages="main.editform.first_name.$error">
									<label ng-message="required" class="has-error">Please enter first name.</label>	
									<label ng-message="pattern" class="control-label has-error">Please enter character only.</label>
									<label ng-message="minlength" class="control-label has-error">First name minimum 3 character required.</label>
									<label ng-message="maxlength" class="control-label has-error">First name maximum 15 character required.</label>
								</div>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-4 control-label-edit">Last Name</label>
						<div class="col-sm-8">
							<input  type = "text" 
							    name = "last_name"
								id = "last_name"
								class = "form-control"
								validate-on="last_name"
								ng-model="edit_last_name"
								ng-pattern="/[a-zA-Z^ ]/"
								
								ng-minlength="3"
								
								ng-maxlength="15"
								
								required />
								<div class="help-block" ng-messages="main.editform.last_name.$error" >
									<label ng-message="required" class="control-label has-error validationMessage">Please enter last name.</label>	
									<label ng-message="pattern"  class="control-label has-error validationMessage">Please enter character only.</label>
									<label ng-message="minlength" class="control-label has-error validationMessage">Last name minimum 3 character required.</label>
									<label ng-message="maxlength" class="control-label has-error validationMessage">Last name maximum 15 character required.</label>
								</div>
						</div>
					</div>
					<hr>
					<div class="form-group">
						<label class="col-sm-4 control-label-edit">City</label>
						<div class="col-sm-8">
							<input  type  = "text"
									name  = "city"
									id  = "city"
									class = "form-control"
									ng-model="edit_city"
									ng-pattern="/[a-zA-Z^ ]/"
									validate-on="city"
									required />
									<div class="help-block" ng-messages="main.editform.city.$error" >
										<label ng-message="required" class="control-label has-error validationMessage">Please enter city.</label>	
										<label ng-message="pattern"  class="control-label has-error validationMessage">Please enter character only.</label>
									</div>
						</div>
					</div>
					
					<div class="form-group">
						<label class="col-sm-4 control-label-edit">Country</label>
						<div class="col-sm-8">
							<input  type = "text"
									name = "country"
									id = "country"
									class = "form-control"
									ng-model="edit_country"
									ng-pattern="/[a-zA-Z^ ]/"
									validate-on="country"
									required />
									<div class="help-block" ng-messages="main.editform.country.$error" >
										<label ng-message="required" class="control-label has-error validationMessage">Please enter country.</label>	
										<label ng-message="pattern" class="control-label has-error validationMessage">Please enter character only.</label>
									</div>
						</div>
					</div>

					<div class="form-group">
						<label class="col-sm-4 control-label-edit">Address</label>
						<div class="col-sm-8">
							<textarea name="address"
									  id="address"
								class="form-control"
								ng-model="edit_address"
								validate-on="address"
								required ></textarea>
								<div class="help-block" ng-messages="main.editform.address.$error" >
									<label ng-message="required" class="control-label has-error validationMessage">Please enter address.</label>	
								</div>
						</div>
					</div>
					
					<div class="form-group">
						<label class="col-sm-4 control-label-edit">Phone Number</label>
						<div class="col-sm-8">
							<input  type = "text"
									name = "phone"
									id = "phone"
									class = "form-control"
									ng-model="edit_phone"
									ng-pattern="/^(\(?([0-9]{3})\)?)?[-. ]?([0-9]{3})[-. ]?([0-9]{4})$/"
									validate-on="phone"
									required /> <br/><code>e.g (123-345-6859)</code>
									<div class="help-block" ng-messages="main.editform.phone.$error">
										<label ng-message="required" class="control-label has-error validationMessage">Please enter phone number.</label>	
										<label ng-message="pattern" class="control-label has-error validationMessage">Please enter valid phone number.</label>
									</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="modal-footer">
			<button type="submit" class="btn btn-warning" ng-click="updateuser(user)">Update</button>
			<button type="button" class="btn btn-primary" ng-click="cancel()">Close</button>
		</div>
	</form>		